main {
  margin: 15px 5px;
}
.browseGrid .browseGridBox img {
  width: 60px;
  height: 60px;
}
.browseGrid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  gap: 10px;
  padding: 20px 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  min-height: 80vh;
}
.browseGridBox {
  background-color: #efefef;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, 0px 60px white inset;
  border-radius: 10px;
  box-shadow: 2px;
  text-align: center;
  aspect-ratio: 1;
  min-width: 110px;
  overflow: hidden;
  width: 10%;
}
.browseGridBox:hover {
  filter: drop-shadow(0 0 5px);
  transform: scale(1.1);
}

.browseGrid .browseGridBox a {
  color: black;
  text-decoration: none;
}
