.poke-info {
  position: fixed;
  inset: 0;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.bug-bg {
  background-color: #a7b723;
}
.dark-bg {
  background-color: #75574c;
}
.dragon-bg {
  background-color: #7037ff;
}
.electric-bg {
  background-color: #f9cf30;
}
.fairy-bg {
  background-color: #e69eac;
}
.fighting-bg {
  background-color: #c12239;
}
.fire-bg {
  background-color: #f57d31;
}
.flying-bg {
  background-color: #a891ec;
}
.ghost-bg {
  background-color: #70559b;
}
.normal-bg {
  background-color: #aaa67f;
}
.grass-bg {
  background-color: #74cb48;
}
.ground-bg {
  background-color: #dec16b;
}
.ice-bg {
  background-color: #9ad6df;
}
.poison-bg {
  background-color: #a43e9e;
}
.psychic-bg {
  background-color: #fb5584;
}
.rock-bg {
  background-color: #b69e31;
}
.steel-bg {
  background-color: #b7b9d0;
}
.water-bg {
  background-color: #6493eb;
}
.white-txt {
  color: white;
}
.bug-txt {
  color: #a7b723;
}
.dark-txt {
  color: #75574c;
}
.dragon-txt {
  color: #7037ff;
}
.electric-txt {
  color: #f9cf30;
}
.fairy-txt {
  color: #e69eac;
}
.fighting-txt {
  color: #c12239;
}
.fire-txt {
  color: #f57d31;
}
.flying-txt {
  color: #a891ec;
}
.ghost-txt {
  color: #70559b;
}
.normal-txt {
  color: #aaa67f;
}
.grass-txt {
  color: #74cb48;
}
.ground-txt {
  color: #dec16b;
}
.ice-txt {
  color: #9ad6df;
}
.poison-txt {
  color: #a43e9e;
}
.psychic-txt {
  color: #fb5584;
}
.rock-txt {
  color: #b69e31;
}
.steel-txt {
  color: #b7b9d0;
}
.water-txt {
  color: #6493eb;
}

.poke-info nav {
  margin: 1rem;
  display: flex;
  font-size: 1.7rem;
  justify-content: space-between;
}
.poke-info nav p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: bold;
}
.poke-info .info-nav {
  display: flex;
}
.poke-info nav img {
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.7rem;
}
.poke-info .poke-portrait {
  position: relative;
  height: 35vh;
  margin-bottom: -10vh;
}
.poke-info .bg-ball {
  opacity: 0.3;
  position: absolute;
  height: 30%;
  right: 2vh;
  top: 2vh;
}
.poke-portrait a {
  color: white;
  position: absolute;
  top: 16vh;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}
.poke-portrait a.btn-prev {
  left: 0;
}
.poke-portrait a.btn-next {
  right: 0;
}
.poke-info .poke-img {
  margin: 0 auto;
  aspect-ratio: 1;
  height: 90%;
  display: block;
  position: relative;
}
.poke-info .card {
  background-color: white;
  border-radius: 0.3rem;
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.poke-info .poke-stats {
  display: flex;
}
.poke-info .status-bars {
  flex-grow: 100;
}

.poke-info .card ul {
  padding: 0.5rem;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poke-info .status-bars li {
  position: relative;
  height: 1rem;
}
.poke-info .status-bars .bg-status-bar {
  width: 100%;
  opacity: 0.3;
}
.poke-info .status-bars div {
  height: 0.5rem;
  position: absolute;
  top: 0.25rem;
  border-radius: 1rem;
}
.poke-info .spacer {
  border-right: 2px solid #0003;
}
.poke-info .spacer li {
  text-align: right;
  font-weight: bold;
}
.poke-info .card .extra-info {
  flex-direction: row;
  justify-content: space-evenly;
}
.poke-info .card .extra-info p {
  padding-bottom: 0.3rem;
}

.poke-info .card .extra-info li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poke-info .card .extra-info li span {
  opacity: 0.5;
  font-size: 0.8rem;
}
.poke-info .card .extra-info .spacer {
  padding-right: 0.5rem;
}
.poke-info .card .extra-info .spacer div {
  display: flex;
  align-items: center;
  height: 70%;
}

.poke-info .card .extra-info li img {
  margin-right: 0.5rem;
  height: 1.4rem;
  vertical-align: middle;
}

.type-logos {
  display: flex;
  margin-top: 7vh;
  justify-content: center;
  gap: 1rem;
}
.type-logos p {
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  text-align: center;
}
.poke-info .card h3 {
  text-align: center;
}
