nav.browseNav {
  color: white;
  /* position: relative; */
  padding: 12px 12px 24px 12px;
  max-width: 1200px;
  margin: 0 auto;
}
.titleWithImg {
  display: flex;
  align-items: center;
}
.titleWithImg img {
  padding-right: 16px;
  height: 24px;
}
.titleWithImg h1 {
  /* font-size: 24px;
  font-style: normal;
  font-weight: 700; */
  line-height: 32px; /* 133.333% */
}
.searchBar {
  position: relative;
  display: flex;
  padding-top: 8px;
  /* width: 100%; */
}
.searchBar .searchImg {
  position: absolute;
  width: 16px;
  top: 16px;
  left: 10px;
}
.searchBar input {
  padding: 8px 36px;
  width: 65%;
  border-radius: 20px;
  margin-right: 16px;
  height: 32px;
}
.searchBar button {
  border-radius: 50%;
  height: 32px;
  padding: 8px;
  background-color: white;
}
.searchBar button img {
  width: 16px;
  height: 16px;
}
.searchBar button,
input {
  border: none;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}
.modalWindow {
  position: fixed;
  inset: 0;
  z-index: 1000;
}
.modalWindow form {
  background-color: #dc0a2d;
  border-radius: 20px;
  padding: 0 4px 4px 4px;
  margin: 110px auto 0 auto;
  width: 113px;
}
.modalWindow h4 {
  padding: 16px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.modalWindow .wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: black;
  padding: 16px 20px;
  font-size: 10px;
  line-height: 16px;
  border-radius: 20px;
}

.modalWindow .wrapper div {
  display: flex;
}
form div input {
  margin-right: 8px;
  accent-color: #dc0a2d;
  box-shadow: none;
}
