nav {
  color: white;
  padding: 20px 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
}
nav h1 img {
  padding-right: 20px;
}
.searchBar {
  position: relative;
  padding-top: 20px;
  width: 100%;
}
.searchBar .searchImg {
  position: absolute;
  width: 20px;
  top: 32px;
  left: 10px;
}
.searchBar input {
  padding: 10px 30px;
  width: 65%;
  border-radius: 20px;
  margin-right: 40px;
}
.searchBar button img {
  width: 15px;
  height: 15px;
}
.searchBar button {
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}
.modalNavbar {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 20px;
  margin: 7px;
}
form {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  top: 35px;
}
form div input {
  margin-right: 7px;
}
