.pokemonBoxHashtag {
  text-align: end;
  font-size: 8px;
  opacity: 60%;
  padding: 5px 5px 0 0;
}
.pokemonBoxName {
  padding-bottom: 5px;
  font-size: 10px;
  text-transform: capitalize;
}
.pokemonBox {
  overflow: hidden;
}
@keyframes moving-gradient {
  50% {
    opacity: 0.1;
  }
}

.emptyImage {
  background-color: grey;
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
  animation: moving-gradient 1s infinite;
}
