button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
body {
  font-size: 25px;
  text-shadow: 1px 1px green;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}
